<section  id="login-page" class="layout-column layout-center fullheight">
  <div id="login-page-container">
    <div id="title-image">
      <img src="./assets/brick-wall.png" height="20%" width="20%">
      <h1 id="login-title">THE WALL</h1>
    </div>

    <ng-container *ngIf="!loading">
      <ng-container *ngIf="loginMod">
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmailLogin" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPasswordLogin" placeholder="Password" [(ngModel)]="password">
        </div>
        <div class="button-container">
          <button type="submit" class="btn btn-primary" (click)="onClickLogin()">Login</button>
          <button type="submit" class="btn btn-primary" (click)="loginMod = false">Sign up</button>
        </div>
      </ng-container>

      <ng-container *ngIf="!loginMod">
        <div class="form-group">
          <input type="text" class="form-control" id="inputUserNameRegister" aria-describedby="emailHelp" placeholder="Username" [(ngModel)]="username">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmailRegister" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputPasswordRegister" placeholder="Password" [(ngModel)]="password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="inputConfirmPasswordRegister"  placeholder="Confirm Password"[(ngModel)]="confirmPassword">
        </div>
        <div class="button-container">
          <button type="submit" class="btn btn-primary" (click)="onClickRegister()">Create Account</button>
          <button type="submit" class="btn btn-primary" (click)="loginMod=true">Back</button>
        </div>
      </ng-container>
    </ng-container>
    <app-loading [isRunning]="loading"></app-loading>
  </div>
</section>
