/* Importing module CSS */
@import '../node_modules/spinkit/scss/spinners/11-folding-cube';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ng-snotify/styles/material";

/* You can add global styles to this file, and also import other style files */
@import './app/scss/variables';


/* Full */

.fullheight {
  min-height: 100vh;
}

.fullpage {
  min-height: 100vh;
  min-width: 100vw;
}

/* Layouts */

.layout {
  display: flex;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-column {
  display: flex;
  flex-direction: column;
}

.layout-vertical-align {
  display: flex;
  align-items: center;
}

.layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Labels */

.label {
  display: inline-flex;
  padding: 0.5rem;
  margin-right: 1rem;
  color: white;
  font-weight: 800;
  border-radius: 10px;
}

.label:last-child {
  margin-right: 0;
}

.label-default {
  background-color: #5bc0de;
}

.label-primary {
  background-color: #337ab7;
}

.label-success {
  background-color: #5cb85c;
}

/* Actions */

mat-icon.action {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 1s ease;
}

mat-icon.action:hover {
  transform: scale(1.1);
}

.imageViewer {
  width: 85vw;
  max-width: 85vw !important;
  height: 85vh;
}

.imageViewer .mat-dialog-content {
  max-height: 77vh;
  height: 100%;
}
