#name {
  position: absolute;
  top: 1rem;
  left: 2rem;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  background-color: #0006;
  border-radius: 10px;
  font-weight: 900;
  transition: all 0.5s ease;
}

.img-container:hover #name {
  opacity: 0;
}

.img-layout-container {
  width: 100%;
  max-height: 72vh;
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: center;
  background-color: #0003;
  box-shadow: 0 0 3px 0 gray;
}

.img-layout-container img {
  height: 100%;
}

.row {
}
