<textarea name="name" type="text" name="fabout" class="form-control"
          placeholder="Write your commentary here" [(ngModel)]="MyCommentary"></textarea>
<button class="mat-raised-button" (click)="Send()">Send</button>
<div id="commentaries" class="commentaries" (scroll)="onScrollEvent($event)">
  <div class="commentary" *ngFor="let commentary of commentaries">
    <!--<img [src]="data.picture" alt="image">-->
    <div class="commentary-content layout-row layout-vertical-align">
      <div class="img-container">
        <img src="{{commentary.picture}}"/>
      </div>
      <h6 class="author">{{commentary.idUser}}</h6>
    </div>
    <h6 class="text">{{commentary.content}}</h6>
    <h6 class="createdAt"><small>{{commentary.createdAt | date }}</small></h6>
    <button *ngIf="commentary.isAdmin || commentary.isOwner"
            class="mat-raised-button" (click)="delete(commentary.id)">Delete</button>
  </div>
</div>
