<!--<app-header></app-header>
<div id="home" class="fullpage">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3>Test Bootstrap col and file upload</h3>
        <input type="file" class="form-control" (change)="sendImage($event)"/>
      </div>
      <div class="col-6">
        <h3>Test Material</h3>
        <mat-icon>contact_support</mat-icon>
        <mat-slider [value]="5" [min]="0" [max]="10"></mat-slider>
        <gallery [datasource]=images></gallery>
      </div>
    </div>
    <div [routerLink]="['/user-options/5bea6d83ee0f8a0016ceb392']">Go to user options (To remove)</div>
  </div>-->

<ng-container *ngIf="filters">
  <div class="layout-column layout-filters-container">
    <div class="layout-row layout-vertical-align search-bar-container">
      <div class="input-container">
        <input type="text" id="filter-search-bar" placeholder="Search image by name" [(ngModel)]="search" (change)="onSearchFilter()">
      </div>
      <div class="img-container" (click)="onSearchFilter()">
        <img src="./assets/search.png" />
      </div>
    </div>
    <div class="layout-column users-container">
      <div class="users-filter">
        <input type="text" placeholder="filter users by name" [(ngModel)]="userFilter" (change)="filterUsers()"/>
      </div>
      <div class="layout-row layout-vertical-align user-list" *ngFor="let user of users" (click)="onFilterUserClick(user)" [class.selected]="user.selected">
        <div class="img-container-home">
          <div class="user-img">
            <img [src]="user.image"/>
          </div>
        </div>
        <div class="user-name">
          {{ user.username }}
        </div>
        <div class="user-nb-img">
          {{ user.nbImages }}
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="notifications">
  <div class="layout-column layout-filters-container">
      <div class="layout-row layout-vertical-align user-list" *ngFor="let notif of notifData">
        <div class="notification-container-home">
          <p> {{ notif.authorData.email }} comments your image:  {{ notif.imageData.name }} </p>
        </div>
      </div>
  </div>
</ng-container>

<div class="layout-column layout-button-container">
  <ng-container *ngIf="settings">
    <app-floating-button [backgroundColor]="'red'" (click)="logout()">
      <img src="./assets/logout.png"/>
    </app-floating-button>
    <app-floating-button [backgroundColor]="'#FC6600'" (click)="userOption()">
      <img src="./assets/user-option.png"/>
    </app-floating-button>
    <app-floating-button [backgroundColor]="'#FFCC00'" (click)="onNotificationsClick()">
      <img src="./assets/notifications.png"/>
    </app-floating-button>
    <app-floating-button [backgroundColor]="'#FC6600'" (click)="onFiltersClick()">
      <img src="./assets/filter.png"/>
    </app-floating-button>
    <app-floating-button [backgroundColor]="'#FC6600'" (click)="upload()">
      <img src="./assets/add.png"/>
    </app-floating-button>
  </ng-container>

  <app-floating-button [backgroundColor]="'purple'" (click)="onSettingsClick()">
    <img src="./assets/settings.png"/>
  </app-floating-button>
</div>
<!--<app-footer></app-footer>-->
<gallery [ImageQuery]="ImgQuery" #gallery></gallery>
<ng-snotify></ng-snotify>
