@import '../../scss/variables';

.layout-button-container {
  width: 5vw;
  position: fixed;
  overflow: hidden;
  right: 1%;
  bottom: 1%;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10;
}

.layout-filters-container {
  text-align: center;
  width: 23vw;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background-color: #0000004d;
  box-shadow: 0 0 3px 0 black;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 10;
}
.search-bar-container {
  background-color: white;
  padding:5%;
  margin: 5%;
  margin-top: 10%;
  border-radius: 10px;
}

.search-bar-container .img-container {
  cursor: pointer;
}

.img-container img {
  width: 100%;
}

.input-container input {
  width: 100%;
  border: none;
}

.input-container {
  margin-right: 5%;
  width: 85%;
}

.img-container {
  width: 10%;
}

.notification-container-home {
  text-align: left;
}

.img-container-home {
  flex-basis: 25%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-img {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 gray;
}

.user-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: all 1s ease;
}

.user-name {
  color: black;
  text-align: center;
  width: 70%;
  font-weight: 900;
}

.user-list {
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background-color: #fafafa;
  transition: all 1s ease;
}

.user-list.selected {
  background-color: #e0e0e0;
}

.user-nb-img {
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin-right: 5px;
  border-radius: 50%;
  box-shadow: 0 0 1px 0 gray;
}

.users-container {
  position: relative;
  overflow: auto;
  padding: 0 4%;
}
