<mat-dialog-content>
  <div class="row">
    <div class="img-container col-8">
      <div class="img-layout-container">
        <img [src]="data.picture" alt="image">
      </div>
      <p id="name">{{data.name}}</p>
    </div>
    <div class="right-container col-4 layout-column">
      <div class="info-container">
        <p id="author"> Author: {{author}}</p>
        <p id="createdAt"> createAt: {{data.createdAt}}</p>
        <p id="about">Description: {{data.about}}</p>
        <div class="tags">
          <p>tags:<p>
          <div *ngFor="let tag of data.tags" class="tag-item">
            <h6>{{tag}}</h6>
          </div>
        </div>
      </div>
      <div class="commentaries-container">
        <commentaries [IdImage]=data.id></commentaries>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onNoClick()">Close</button>
  <div>
    <button class="mat-raised-button mat-primary" (click)="download(link)">Download</button>
    <a #link [href]="data.picture" [download]="data.name" hidden></a>
  </div>
  <button *ngIf="isAdmin || isOwner"
  class="mat-raised-button" id="deleteButton" (click)="delete()">Delete picture</button>
</mat-dialog-actions>
